In [10]:
import numpy as np
import pandas as pd

In [11]:
import re

In [12]:
#en las bases de datos a veces se filtrn
#variables númericas como string
# y algunas categorias llegan como númericas

In [13]:
def isnum(string):
  """
  Return a  boolean if the string is a integer or a float (only one decimal point)
  """
  return bool(re.match(r"^\d+(\.\d+)?$", string))

def binary(string):
  return bool(re.match(r"^[0-1]+(\.0+)?$", string))

In [14]:
def num_percent(df, col):
  """
  determina el procej de datos no nulos del total de datos que son númericos
  """
  return df[col].apply(lambda x: isnum(str(x))).sum() / df[col].apply(lambda x: pd.notna(x)).sum()

def is_binary(df,col):
  return df[col].apply(lambda x: binary(str(x))).sum() / df[col].apply(lambda x: pd.notna(x)).sum()

In [15]:
ls

df1-track-base-de-datos.xlsx  sample_data/

In [16]:
df = pd.read_excel("df1-track-base-de-datos.xlsx")

In [17]:
df

           var1 var2    var3         var4  var5         var6
0            10    0    rojo           19     1          Nan
1            20    1    azul           22     2  No registra
2           333    1    azul           33     3          NAN
3            12    1  blanco            @     1          NAN
4            34    1  blanco  No registra     2       Acepta
5            12  NaN    rojo           10     3       Acepta
6          1 12  NaN   verde           22     1       ACEPTA
7            12    0    azul           33     2       ACEPTA
8           123    1   azul1           11     3          NaN
9            10    1   azul4           33     1      no dato
10           2o    1    azul           44     2          Nan
11           23    o    azul           12     3       ACEPTA
12          NaN    0       0           12     1    NO ACEPTA
13          Nan    1    azul           33     2    NO ACEPTA
14  No registra    1    AZUl           23     3    NO ACEPTA
15           19    1    RojO          132     1       Acepta
16           13    1   VeRde           33     2       Acepta
17       13.001    1    rojo           12     2       Acepta
18            5    1   verde            1     1    NO ACEPTA

In [18]:
df.dtypes

var1    object
var2    object
var3    object
var4    object
var5     int64
var6    object
dtype: object

In [19]:
strings = []
for column in df.columns:
  if df[column].dtype.name == 'object':
    strings.append(column)

In [20]:
def std_str(string):
  if type(string) == str:
    string = string.upper()
    string = string.replace('Á', 'A')
    return string
  else:
    return string

In [21]:
for var in strings:
  df[var] =  df[var].apply(lambda x : std_str(x))
  df[var] = df[var].replace(['NAN', 'NO REGISTRA', 'NO DATO'], np.nan)

In [22]:
suspect_be_num = []
for var in strings:
  if num_percent(df, var) >= 0.8:
    suspect_be_num.append(var)

In [23]:
df[suspect_be_num]

      var1 var2 var4
0       10    0   19
1       20    1   22
2      333    1   33
3       12    1    @
4       34    1  NaN
5       12  NaN   10
6     1 12  NaN   22
7       12    0   33
8      123    1   11
9       10    1   33
10      2O    1   44
11      23    O   12
12     NaN    0   12
13     NaN    1   33
14     NaN    1   23
15      19    1  132
16      13    1   33
17  13.001    1   12
18       5    1    1

In [24]:
re.findall(r'[^\d.]+', 'hola1231')

['hola']

In [25]:
len([])

0

In [26]:
suspect_be_num

['var1', 'var2', 'var4']

In [27]:
def chars(df, col):
  return df[col][df[col].apply(lambda x : len(re.findall(r'[^\d.]+', str(x)))!=0)].unique()

In [28]:
chars(df, 'var1')

array(['1 12', '2O', nan], dtype=object)

In [29]:
df['var1'] =df['var1'].replace(r" ", '', regex=True)
df['var1'] =df['var1'].replace(r"O", 0, regex=True)
df['var2'] =df['var2'].replace(r"O", 0, regex=True)

<ipython-input-29-c830bf4d1a6d>:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['var2'] =df['var2'].replace(r"O", 0, regex=True)

In [30]:
chars(df, 'var4')
df['var4']  = df['var4'].replace(r'[^\d]+', np.nan, regex=True)

<ipython-input-30-5159efebbace>:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['var4']  = df['var4'].replace(r'[^\d]+', np.nan, regex=True)

In [31]:
binaries = []
suspect_be_num

['var1', 'var2', 'var4']

In [32]:
# classifique , los glotes, obtens , binere, categoricos

In [33]:
# strings, suspect_binaries,

In [34]:
# stirgns y numericals...
# strings,numericalls
# va identificar cuales son sospecjps despies de filrar y arreglar
# le pasamos añl programa toda la base para qie el clasifique
# categorias, binarias, númericas