In [1]:
import re
import pandas as pd

In [2]:
# Useful

In [3]:
#* sub
#* subn

In [4]:
string = "This is a course about data analysis"

In [5]:
re.findall("is", string)

['is', 'is', 'is']

In [6]:
string = 'The  wage of DS is 3 or 4 times more higher than other professions '
re.findall("\d", string)

['3', '4']

In [7]:
string = 'The  wage of DS is 3.5 or 4 times more higher than other professions '
re.findall("\d", string)  # What is the problem?

['3', '5', '4']

# identifiers:
  * \d any number [0-9]
  * \D not number [^0-9]
  * \s  blank space [\t\n\r\f\v]
  * \S no blank space  [^\t\n\r\f\v]
  * \w Alphanumeric character [a-zA-Z0-9_]
  * \W Non-Alphanumeric [^a-zA-Z0-9_]
  * . any character except new line

# modifiers
  * \+ match one or more
  * ? match 0 or 1 repetition (optional)
  * \* 0 or more
  * $ to the end of the string
  * ^ begining the string
  * | or a | b (a or b)
  * [] a admited set or range [a-z]
  * [^ ] not admitet set not numbers [^0-9]
  * {n} exactly n repetitions
  * {n,} at least n repetiions
  * {,n} at most n repetitions
  * {n,m} between n and m repetetions
  * \* equal to 0 o more repetitions {0,}
  * \+ equal  to 1 o more times {1,}
  * ? is the optional {0,1}


research what is r"string" for what is?
\ scape sequence  with r is override.

# we need research abot
d,D s,S b,B

In [8]:
string = 'data is the key'
re.findall("\w", string) # For instance add a + here after 7

['d', 'a', 't', 'a', 'i', 's', 't', 'h', 'e', 'k', 'e', 'y']

In [9]:
# How we can work with pandas
# We can eliminate words in a numeric variable

In [10]:
df  = pd.DataFrame({'var1':['7mm', '8MM', '9Mm'],
                    'var2':['123a', '123AB', '134m'],
                    'var3':['A1', 'A28', 'B']})

In [28]:
# How works if the regex make mathc then replace for empty..
df['var1'].replace('[a-zA-Z]', "",regex=True)

0    7
1    8
2    9
Name: var1, dtype: object

In [12]:
df['var2'].replace('[a-zA-Z]', "",regex=True)

0    123
1    123
2    134
Name: var2, dtype: object

In [13]:
df['var3'].replace("\d", "", regex=True)

0    A
1    A
2    B
Name: var3, dtype: object

In [14]:
import re

In [15]:
log = 'upgraded pandas to 3.0.1 version'

In [20]:
regex = r"\d.*\d"

In [ ]:
 result  =  re.search(regex,log)

  var1   var2 var3
0    7   123a   A1
1    8  123AB  A28
2    9   134m    B

In [27]:
print(result[0])

3.0.1