In [68]:
import pandas as pd 
import numpy as np
import re

In [69]:
df = pd.read_excel('df1-track-base-de-datos.xlsx')
df

           var1 var2    var3         var4  var5         var6
0            10    0    rojo           19     1          Nan
1            20    1    azul           22     2  No registra
2           333    1    azul           33     3          NAN
3            12    1  blanco            @     1          NAN
4            34    1  blanco  No registra     2       Acepta
5            12  NaN    rojo           10     3       Acepta
6          1 12  NaN   verde           22     1       ACEPTA
7            12    0    azul           33     2       ACEPTA
8           123    1   azul1           11     3          NaN
9            10    1   azul4           33     1      no dato
10           2o    1    azul           44     2          Nan
11           23    o    azul           12     3       ACEPTA
12          NaN    0       0           12     1    NO ACEPTA
13          Nan    1    azul           33     2    NO ACEPTA
14  No registra    1    AZUl           23     3    NO ACEPTA
15           19    1    RojO          132     1       Acepta
16           13    1   VeRde           33     2       Acepta
17       13.001    1    rojo           12     2       Acepta
18            5    1   verde            1     1    NO ACEPTA

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   var1    18 non-null     object
 1   var2    17 non-null     object
 2   var3    19 non-null     object
 3   var4    19 non-null     object
 4   var5    19 non-null     int64
 5   var6    18 non-null     object
dtypes: int64(1), object(5)
memory usage: 1.0+ KB

In [71]:
strings=[]
for column in df.columns:
    if df[column].dtype.name == object:
        strings.append(column)

print(strings)

[]

In [72]:
def std_str(strings):
    if isinstance(string)==str:
        string=string.upper()
        string=string.replace('Á','A')
        return string
    else:
        return string

In [73]:
df['var3']= df['var3'].apply(lambda x: std_str(str(x)))

UnboundLocalError: local variable 'string' referenced before assignment

In [ ]:
def isnum (string):
    return bool(re.match(r'^\d+(\.\d+)?$', string))

def bynary(string):
    return bool(re.match(r'^[0-1]+(\.0+)?$', string))

In [ ]:
def num_percent(df,col):
    return df[col].apply(lambda x: isnum(str(x))).sum()/df[col].apply(lambda x:pd.notna(x)).sum()

def is_bynary(df,col):
    return df[col].apply(lambda x: bynary(str(x))).sum()/df[col].apply(lambda x:pd.notna(x)).sum()

0              19
1              22
2              33
3               @
4     No registra
5              10
6              22
7              33
8              11
9              33
10             44
11             12
12             12
13             33
14             23
15            132
16             33
17             12
18              1
Name: var4, dtype: object