In [4]:
import pandas as pd 
import numpy as np 
import re

In [5]:
df= pd.read_csv('https://raw.githubusercontent.com/it-ces/Datasets/main/type_of_credit.csv')
df

     Monthly-payment                     type_of_credit  Default
0        4253.073763                             Avance        0
1      360815.648703                   Microempresario         1
2      299912.171531                    Micro Convenio         0
3      333935.745843  Crédito  productivo urbano Micro         0
4        4207.902271                             Avance        0
..               ...                                ...      ...
995     11206.020537                             Avance        0
996     76542.677719                            Premium        0
997     16632.268859                             Avance        0
998      3014.069485                             Avance        0
999    469585.218164                    Credito Digital        0

[1000 rows x 3 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Monthly-payment  1000 non-null   float64
 1   type_of_credit   1000 non-null   object
 2   Default          1000 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 23.6+ KB

In [7]:
df['type_of_credit'].value_counts() > 25

type_of_credit
Avance                                                True
 Libre Inversion                                      True
Credito Digital                                       True
Microcredito Empresarial Activos Fijos                True
Pensionados  Apalancamiento                           True
                                                     ...
Crédito productivo rural productivo activos fijos    False
Profund Refinanc Pensionados                         False
 Readquisición Independientes                        False
Libre Inversion                                      False
Productivo urbano de credito Capital de Trabajo      False
Name: count, Length: 66, dtype: bool

In [8]:
df['Monthly-payment'].describe()

count    1.000000e+03
mean     2.700276e+05
std      5.187051e+05
min      2.454283e+02
25%      7.029921e+03
50%      8.658389e+04
75%      3.259568e+05
max      5.353655e+06
Name: Monthly-payment, dtype: float64

In [20]:
susp=re.findall(r'[\d]+', str(df['type_of_credit']))
susp

['0', '1', '2', '3', '4', '995', '996', '997', '998', '999', '1000']

In [10]:
df['tipo']=df['type_of_credit'].str.contains(r'\d+')
df['tipo'].value_counts()

tipo
False    1000
Name: count, dtype: int64

In [11]:
df['tipo']=df['type_of_credit'].str.contains(r'[^a-zA-Z0-9]')
df['tipo'].value_counts()

tipo
False    503
True     497
Name: count, dtype: int64

In [12]:
df[df['tipo']==True]

     Monthly-payment                          type_of_credit  Default  tipo
1       3.608156e+05                        Microempresario         1  True
2       2.999122e+05                         Micro Convenio         0  True
3       3.339357e+05       Crédito  productivo urbano Micro         0  True
7       3.896103e+05                         Libre Inversion        0  True
8       4.585035e+05  Independientes Tipo A Apalancamiento          0  True
..               ...                                     ...      ...   ...
989     3.885353e+05                                  Micro         0  True
990     1.165338e+05                         Credito Digital        0  True
991     1.383967e+06         volante Microempresarios Nuevos        1  True
992     7.112675e+03            Microcredito Cupo de Crédito        0  True
999     4.695852e+05                         Credito Digital        0  True

[497 rows x 4 columns]

In [13]:
def std_str(string):
  if isinstance(string, str):
    string = string.upper()
    string = string.replace("Á", "A")
    string = string.replace('É', 'E')
    string = string.replace('Í', 'I')
    string = string.replace('Ó', 'O')
    string = string.replace('Ú', 'U')
    return string
  else:
    return string

In [14]:
# std_str(df['type_of_credit'])
df['type_of_credit']=df['type_of_credit'].apply(lambda x : std_str(x))
df['type_of_credit']=df['type_of_credit'].replace(' ','',regex=True)

df

     Monthly-payment                type_of_credit  Default   tipo
0        4253.073763                        AVANCE        0  False
1      360815.648703               MICROEMPRESARIO        1   True
2      299912.171531                 MICROCONVENIO        0   True
3      333935.745843  CREDITOPRODUCTIVOURBANOMICRO        0   True
4        4207.902271                        AVANCE        0  False
..               ...                           ...      ...    ...
995     11206.020537                        AVANCE        0  False
996     76542.677719                       PREMIUM        0  False
997     16632.268859                        AVANCE        0  False
998      3014.069485                        AVANCE        0  False
999    469585.218164                CREDITODIGITAL        0   True

[1000 rows x 4 columns]

In [15]:
df['type_of_credit'].unique()

array(['AVANCE', 'MICROEMPRESARIO', 'MICROCONVENIO',
       'CREDITOPRODUCTIVOURBANOMICRO', 'LIBREINVERSION',
       'INDEPENDIENTESTIPOAAPALANCAMIENTO', 'LIBREINVERSIONEMPLEADOS',
       'MICROEMPRESARIALACTIVOSFIJOSDOCREDITO',
       'MICROCREDITOEMPRESARIALACTIVOSFIJOS', 'PREMIUMPENSIONADOS',
       'CREDITODIGITAL', 'MICROCREDITOCUPODECREDITO',
       'CREDITOPREAPROBADOCONSUMO', 'READQUISICIONEMPLEADOS', 'PREMIUM',
       'PENSIONADOSAPALANCAMIENTO', 'VOLANTEINDEPENDIENTES',
       'PENSIONADOS', 'TRABAJADORESPROSPERANDO', 'PRODUCTIVOURBANO',
       'CREDITOPRODUCTIVOURBANODIGITAL', 'LIBREINVERSIONPENSIONADOS',
       'MICRO', 'MICROEMPRESARACTIVOSFIJOSERCREDITO',
       'INDEPENDIENTESTIPOBAPALANCAMIENTO', 'EMPLEADOS',
       'EMPLEADOSSUSTITUCIONPASIVOS', 'VOLANTEPENSIONADOS',
       'PREFERENCIAL', 'VOLANTEINDEPENDIENTESMICRO', 'INDEPENDIENTES',
       'READQUISICIONMICROERCREDITO', 'EMPLEADOSDCTONOMINAA',
       'VOLANTEMICROEMPRESARIOSNUEVOS', 'EMPLEADOSDEPERSONASNATURALES',
       'DIGITAL', 'MICROCREDITO', 'VOLANTEEMPLEADOS',
       'MICROCREDITODIGITAL', 'ADELANTODEPRIMA',
       'CREDITOPRODUCTIVOURBANO', 'CREDIPENSIONADOSNOMINA',
       'PREMIUMMICROCREDITO', 'URBANOCREDITOCAPITALDETRABAJO',
       'MICROEMPRESARIALCAPITALDETRABAJODOCREDITO',
       'READQUISICIONPENSIONADOS', 'TASAANTICIPADA',
       'PENSIONADOSSUSTITUPASIVOS', 'EMPLEADOSREFINANCIACION',
       'MICROCREDITOPREAPROBADOS', 'PENSIONADOSREFINANCIACION',
       'PREMIUMEMLEADOSEINDEPENDIENTES',
       'CREDITOPRODUCTIVORURALPRODUCTIVOACTIVOSFIJOS',
       'PROFUNDREFINANCPENSIONADOS', 'READQUISICIONINDEPENDIENTES',
       'PRODUCTIVOURBANODECREDITOCAPITALDETRABAJO'], dtype=object)

In [16]:
# avance
# libre inversion
# digital (todo digital)
# empleados
# otros

In [ ]:
digital=[]
avance= []
libre_inversion=[]
microcredito=[]
empleados=[]
otros=[]


x=r'[(?<!DIGITAL)micro(?!\w+DIGITAL)]'

In [18]:
# df['type_of_credit'] = df['type_of_credit'].replace(r'[(?<!DIGITAL)micro(?!\w+DIGITAL)]')

df['type_of_credit']=df['type_of_credit']