In [ ]:
import numpy as np
import pandas as pd

n = 9

def factorial(n):
  acum = 1
  for x in range(1,n+1):
    acum = acum * x
  return acum
print(n)

9

Ejemplo de un factorial usando funcion WHILE

In [ ]:
def fac2(n):
  prod = 1
  while n > 1:
      prod *= n
      n -= 1
  return prod
print(fac2(5))

120

In [ ]:
def fac2(n):
  prod=1
  while n > 1:
    prod = prod * n
    n = n - 1
  return prod
fac2(5)

120