In [92]:
import sqlite3
import pandas as pd

In [93]:
# Conectar a la base de datos (en memoria)
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

In [94]:
cursor.execute('''
    create table Usuarios(
        id integer primary key,
        nombre text,
        apellido text,
        cancion_favorita text
    )
''')

In [101]:
df= pd.read_sql_query(("select*from Usuarios"),conn)
df

   id    nombre  apellido     cancion_favorita
0   1  Fernanda    Flores    tree little birds
1   2     Nancy  Cabrales          La Gasolina
2   3      Jose    Ibarra  dont_stop_beleaving
3   4  Leonardo   Herrera          La Gasolina

In [96]:
cursor.execute("insert into Usuarios(id, nombre, apellido, cancion_favorita)values(1,'Fernanda','Flores','tree little birds')")
cursor.execute("insert into Usuarios(id, nombre, apellido, cancion_favorita)values(2,'Andres','Cabrales','dont stop beleaving')")
cursor.execute("insert into Usuarios(id, nombre, apellido, cancion_favorita)values(3,'Jose','Ibarra','dont_stop_beleaving')")
cursor.execute("insert into Usuarios(id, nombre, apellido, cancion_favorita)values(4,'Leonardo','Flores','cigarettes and alcohol')")
cursor.execute("insert into Usuarios(id, nombre, apellido, cancion_favorita)values(5,'Mel', 'Sanchez', 'cigarettes and alcohol')")

In [97]:
cursor.execute("update Usuarios set cancion_favorita='La Gasolina', apellido='Herrera' where id=4")

In [98]:
cursor.execute("update Usuarios set cancion_favorita='La Gasolina', nombre='Nancy' where cancion_favorita='dont stop beleaving'")

In [100]:
cursor.execute("delete from Usuarios where apellido='Sanchez'")

In [104]:
df= pd.read_sql_query(("select*from Usuarios where apellido<>'Flores'"),conn)
df

   id    nombre  apellido     cancion_favorita
0   2     Nancy  Cabrales          La Gasolina
1   3      Jose    Ibarra  dont_stop_beleaving
2   4  Leonardo   Herrera          La Gasolina

In [ ]:
df= pd.read_sql_query(("select*from Usuarios where apellido<>'Flores'"),conn)